@import "tailwindcss";

html,
body,
#root {
	height: 100%;
	background: #000;
}

body {
	margin: 0;
}

.posts-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #52525b #09090b;
}

.posts-scrollbar::-webkit-scrollbar {
	width: 10px;
}

.posts-scrollbar::-webkit-scrollbar-track {
	background: #09090b;
}

.posts-scrollbar::-webkit-scrollbar-thumb {
	background: #52525b;
	border-radius: 9999px;
	border: 1px solid #09090b;
}

.posts-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #71717a;
}