DJANGO_SECRET_KEY=danjgo secret key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Frontend/backend URLs
FRONTEND_URL=your frontenr url
BACKEND_URL= your beckend url 

# Google OAuth
GOOGLE_CLIENT_ID=xxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
# Must match the callback URL configured in Google Cloud console
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/auth/google/callback/
